@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
$NavbarColorItem:#242f51;
$navbarFontFamily :  'Poppins';
$pink : #f88b96; 
$blue : #2563ff;
$green: #40975f;
@import url(https://db.onlinewebfonts.com/c/028b4cfdfab5d1049178e9b1eb42f49e?family=Poppins+SemiBold);
$heroFontFamily :  'Poppins SemiBold';
$white: #fff;
$roseRouger: #f55767;
$blueMarine: #242f51;
$gris: #616368;



$footer-font: 'Poppins', sans-serif; 
$footer-font-weight: 700;

$footer-background-color: #242f51;
$footer-text-color: white;
$footer-padding: 1rem;
$footer-height: 24.5rem;


$footer-font-weight: 700;